.footer-pay-systems-paypal {
  background-image: url("./footer-sprite.png");
}

.footer-pay-systems-master-card {
  background-image: url("./footer-sprite.png");
}

.footer-pay-systems-visa {
  background-image: url("./footer-sprite.png");
}

.footer-pay-systems-webmoney {
  background-image: url("./footer-sprite.png");
}